@import "../../../theme/sass/conf/conf";
@import '../../../theme/sass/smartTables';

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: whitesmoke;
  $blurredBgUrl: '/assets/img/blue-bg.jpg';
  background: #426FB1;
  align-self: center;
  width: 900px;
}


:host /deep/ {
  ng2-smart-table {
  
    tbody {
      tr {
        color: $default-text;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.205);
        // cursor: pointer;
      }
    }

  }
}
