<div class="modal-content" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="cancelModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{modalContent}}
   
  </div>
  <div class="modal-footer ">
    <div>
    <button class="btn btn-primary confirm-btn" (click)="okModal()">{{oKMessage}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
     <!-- TODO: Need to handle two button -->
    <button class="btn btn-primary confirm-btn" *ngIf="showHide" (click)="cancelModal()">{{cancelMessage}}</button>
    </div>
  </div>
</div>
