
<div class="widgets">
  <div class="row" *ngIf="errorMsg">
    <div class="alert alert-danger alert-dismissable col-12">
      <a class="close" aria-label="close" (click)="errorMsg=''">&times;</a>
      <strong>Danger!</strong> {{errorMsg}}
    </div>
  </div>
  <div class="row">
    <ba-card cardTitle="Parameter Value" baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onCreateConfirm($event)" (createConfirm)="onCreateConfirm($event, true)"></ng2-smart-table>
    </ba-card>
  </div>

</div>
