<div class="container-fluid">
  <div class="col-md-12 error" *ngIf="error">
    {{error}}
  </div>
  <div class="offset-md-3 col-md-6">
    <div class="card card-body">
      <div class="card-header">

        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change Password&nbsp;&nbsp;
          <img src="../../../assets/img/unlockpwd1.png" style="width: 50px; height: 45px;">
        </h1>

      </div>
      <br>
      <br>
      <form [formGroup]="changePassword">
        <p style="color: indigo; margin-left: 6%">*Use atleast one Lowercase letter, Uppercase letter, Number, Special character and without WhiteSpace.</p>
        <div class="form-group row" *ngIf="onChangePwd" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
          <label for="password" class="col-sm-4 control-label" translate>New Password</label>

          <div class="col-sm-8">
            <input type="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$!*%^&+=])(?=\S+$).{6,}$" class="form-control"
              id="password" formControlName="password" placeholder="Enter Unique Password">
            <div *ngIf="(!password.valid && password.touched ) && password.errors != null" class="text-danger">
              <small *ngIf="password.errors.required">
                New Password is required.
              </small>
              <small *ngIf="password.errors.minlength">
                New Password must be at least 6.
              </small>
              <small *ngIf="password.errors.pattern">
                Password must contain atleast one Lowercase letter, Uppercase letter, Number, Special character and without WhiteSpace.
              </small>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="onChangePwd" [ngClass]="{'has-error': ((!confPassword.valid && confPassword.touched) || (this.password.invalid && confPassword.touched) || message != null ), 'has-success': (confPassword.valid && confPassword.touched)}">
          <label for="confPassword" class="col-sm-4 control-label" translate>Confirm Password</label>

          <div class="col-sm-8">
            <input type="password" class="form-control" id="confPassword" formControlName="confPassword" placeholder="Confirm Unique Password">
            <div *ngIf="(!confPassword.valid && confPassword.touched ) && confPassword.errors != null" class="text-danger">
              <small *ngIf="confPassword.errors.required">
                Confirm Password is required.
              </small>
              <small *ngIf="confPassword.errors.minlength">
                Confirm Password must be at least 6.
              </small>
              <input type="hidden" class="form-control" id="token" formControlName="token">
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <button id="RstPwd" (click)="Submit()" class="btn btn-primary btn-sm">
          Reset Password</button>
        <small *ngIf="success">
          {{successMsg}}
        </small>
        <small *ngIf="fail" style="color: white; background-color: rgb(214, 81, 72); 
        margin-left: 30%; font-size: 14px;margin-bottom: 15px; padding: 10px">
          {{failMsg}}
        </small>
      </div>
      <div class="al-copy">©
        <a href="/">Diamond Admin</a> 2017</div>
    </div>
  </div>
</div>

<!-- Forget Password -->

<!-- <div class="container-fluid">
  <div class="col-md-12 error" *ngIf="error">
    {{error}}
  </div>
  <div class="offset-md-3 col-md-6">
    <div class="card card-body">
      <div class="card-header">
        <h1 style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{modalHeader}}&nbsp;&nbsp;
          <br><br></h1>
        <!-- <button class="close" aria-label="Close" (click)="cancelModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      <!-- </div>
      <div class="modal-body">
        <br><br>
        <p style="color: black; text-align: center">Don't worry! Just fill in your details and we'll help you reset your password.</p>
        <br><br>
        <label for="email" class="col-sm-4 control-label" style="text-align: center" translate>EMAIL ADDRESS<br>
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        </label><br>
        <div class="col-md-8 offset-md-2">
          <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter registered Email Address">
        </div>
        <small *ngIf="success">
          {{successMsg}}
        </small>
        <small *ngIf="fail">
          {{failMsg}}
        </small>
      </div>
      <br>
      <br><div class="modal-footer">
        <div>
          <button class="btn btn-primary confirm-btn" (click)="okModal()">{{oKMessage}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- TODO: Need to handle two button -->
          <!-- <button class="btn btn-primary confirm-btn" *ngIf="showHide" (click)="cancelModal()">{{cancelMessage}}</button><br>
          <div class="al-copy">©
            <a href="/">Diamond Admin</a> 2017
        </div>
        </div>
      </div>
      
      </div></div>  -->
    <!-- </div> -->