
<div class="col-md-12">
  <form [formGroup]="detailsForm">
    <div class="row">
      <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!bankId.valid && bankId.touched)), 'has-success': (bankId.valid && bankId.touched)}">
        <label for="bankId">Select Customer Bank</label>
        <select class="form-control" id="bankId" [formControl]="bankId">
          <option *ngFor="let bank of bankNameList" [value]="bank.value">{{bank.title}}</option>
        </select>
        <small *ngIf="(!bankId.valid && bankId.touched)" class="text-danger">
         Customer's Bank is required
        </small>
      </div>
      <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!bank.valid && bank.touched)), 'has-success': (bank.valid && bank.touched)}">
        <label for="bank">Select Our Bank</label>
        <select class="form-control" id="bank" [formControl]="bank">
          <option *ngFor="let bank of bankList" [value]="bank.id">{{bank.name}}</option>
        </select>
        <small *ngIf="(!bank.valid && bank.touched)" class="text-danger">
          Bank is required
        </small>
      </div>

      <div class="form-group col-sm-3">
        <label for="bankTnC">T&amp;C</label>
        <select class="form-control" id="bankTnC" [formControl]="bankTnC">
          <option *ngFor="let terms of termsList" [value]="terms.id">{{terms.name}}</option>
        </select>
      </div>

      <div class="form-group col-sm-3">
        <label for="dueDate">Bank Due Date</label>
        <input type="text" class="form-control" id="dueDate" [formControl]="dueDate" readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!creditDays.valid && creditDays.touched)), 'has-success': (creditDays.valid && creditDays.touched)}">
        <label for="creditDays">Credit Days</label>
        <input type="number" class="form-control" id="creditDays" [formControl]="creditDays">
        <small *ngIf="(!creditDays.valid && creditDays.touched)" class="text-danger">
          Credit Days is required
        </small>
      </div>
      <div class="form-group col-sm-3">
        <label for="localCurrency">Local Currency</label>
        <input class="form-control" id="localCurrency" [value]="party.value.currencyMaster?.currName" readonly>
        <input class="form-control" id="localCurrency" [formControl]="localCurrency" hidden>
      </div>
      <div class="form-group col-sm-3">
        <label for="orderAmount">Order Amount</label>
        <input type="number" class="form-control" id="orderAmount" [formControl]="orderAmount" readonly>
      </div>
      <div class="form-group col-sm-3">
        <label for="orderAmountBase">Order Amount in Base Currency</label>
        <input type="number" class="form-control" id="orderAmountBase" [formControl]="orderAmountBase" readonly>
      </div>
    </div>
  </form>
</div>
