select {
    width: 100%!important;
    height: calc(2.25rem + 0px)!important;
}

.dimention{
    width: 400px!important;
    height: 200px!important;
}
.elmwidth{
    width: 400px!important;
}

.hide{
    display: none;
}


