<form [formGroup]="hierRelForm" #f="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-sm-4" [ngClass]="{'has-error': (!sub.valid && sub.touched), 'has-success': (sub.valid && sub.touched)}">
            <label for="divisions">Division</label>
            <select class="form-control" [formControl]="sub" id="divisions" (change)="onDivisionChange($event.target.value)">
              <option *ngFor="let div of divisions" [value]="div.hierId">{{div.hierName}}</option>
            </select>
              <small *ngIf= "(!sub.valid && sub.touched)" class="text-danger">
                  Division is required.
          </small>
          </div>
          <div class="form-group col-sm-4" [ngClass]="{'has-error': (!loc.valid && loc.touched), 'has-success': (loc.valid && loc.touched)}">
            <label for="locations">Location</label>
            <select class="form-control" [formControl]="loc" id="locations" (change)="onLocationChange($event.target.value)">
              <option *ngFor="let loc of locations" [value]="loc.hierId">{{loc.hierName}}</option>
            </select>
             <small *ngIf= "(!loc.valid && loc.touched)" class="text-danger">
                  Location is required.
          </small>
          </div>
          <div class="form-group col-sm-4" [ngClass]="{'has-error': (!parent.valid && parent.touched), 'has-success': (parent.valid && parent.touched)}">
            <label for="departments">Department</label>
            <select [formControl]="parent" id="departments" class="form-control" (change)="loadChildrenById($event.target.value, null, 'SD')">
              <option *ngFor="let dept of departments" [value]="dept.hierId">{{dept.hierName}}</option>
            </select>
             <small *ngIf= "(!parent.valid && parent.touched)" class="text-danger">
                  Department is required.
          </small>
          </div>

        </div>
        <ba-card cardTitle="All Sub Departments" baCardClass="with-scroll">
          <div class="row">
            <div class="form-group col-sm-12">
              <ngx-treeview
                  [config]="treeConfig"
                  [items]="chilrenList"
                  [itemTemplate]="treeItemTemplate"
                  [headerTemplate]="treeHeaderTemplate"
                  (selectedChange)="onChildrenChange($event)">
              </ngx-treeview>
            </div>
          </div>
        </ba-card>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button *ngIf="addAccess" type="submit" class="btn btn-primary btn-raised" [disabled]="!f.form.valid">Save</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-default">Cancel</button>
        </div>
      </div>
    </div>
</form>

<ng-template #treeItemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-check">
      <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed"
          [class.fa-caret-down]="!item.collapsed"></i>
      <label class="form-check-label custom-control custom-checkbox">
          <input type="checkbox" class="form-check-input custom-control-input"
              [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()" [disabled]="item.disabled" />
          <span class="custom-control-description">{{item.text}}</span>
      </label>
  </div>
</ng-template>

<ng-template #treeHeaderTemplate let-item="item" let-config="config" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-check">
      <label class="form-check-label custom-control custom-checkbox" *ngIf="config.hasAllCheckBox">
          <input type="checkbox" class="form-check-input custom-control-input"
              [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange(item.checked)"/>
          <span class="custom-control-description">{{item.text}}</span>
      </label>
  </div>
</ng-template>
