<div class="widgets">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <button type="button" class="btn btn-default mb-2" (click)="handleBack(true)"><i class="ion-chevron-left"></i>&nbsp;&nbsp;Back</button>
  <form [formGroup]="importOrderForm" #formDir="ngForm">

  <div class="row">
    <div class="col-md-12">
      <ba-card [cardTitle]="pageTitle" baCardClass="with-scroll">
          <div class="row">
            <!-- <div class="form-group col-sm-3">
              <label for="poNo">Purchase Order No.</label>
              <input type="text" formControlName="poNo" class="form-control" id="poNo" readonly>
             </div> -->
            <div class="form-group col-sm-3">
              <label for="poDate">Order Date</label>
              <input type="date" formControlName="poDate" class="form-control" id="poDate" >
            </div>
            <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!categoryMaster.valid && categoryMaster.touched)), 'has-success': (categoryMaster.valid && categoryMaster.touched)}">
              <label for="categoryMaster">Select Category</label>
              <select formControlName="categoryMaster" class="form-control" id="categoryMaster" (change)="onChangeCat($event.target.value)">
                <option *ngFor="let category of catMasterList | async" [value]="category.catId">{{category.catName}}</option>
              </select>
              <small *ngIf="(!categoryMaster.valid && categoryMaster.touched)" class="text-danger">
                Item Category is required
              </small>
            </div>
            <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!party.valid && party.touched)), 'has-success': (party.valid && party.touched)}">
              <label for="party">Select Supplier</label>
              <select formControlName="party" class="form-control" id="party" #selectParty>
                <option *ngFor="let par of partyTypeList | async" [ngValue]="par">{{par.partyName}}</option>
              </select>
              <small *ngIf="(!party.valid && party.touched) || (party.untouched && formDir.submitted)" class="text-danger">
                Supplier is required
              </small>
            </div>
          <!-- </div>
          <div class="row"> -->
            
            <div class="form-group col-sm-3">
                <label for= "stockCurrency">Stock Currency</label>
                <input [value]="stockCurrName" class="form-control" id="stockCurrency" readonly>
                <input type="text" [formControl]="stockCurrency" class="form-control" id="stockCurrency" hidden>
              </div>
            <div class="form-group col-sm-3">
              <label for= "exchangeRate">Stock To Base Exch Rate ({{stockCurrName}} -> {{baseCurrName}})</label>
              <input formControlName = "exchangeRate" class="form-control" id="exchangeRate" readonly>
            </div>

            <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!poCurrency.valid && poCurrency.touched) || (poCurrency.untouched && formDir.submitted)), 'has-success': (poCurrency.valid && poCurrency.touched)}">
                <label for= "poCurrency">PO Currency </label>
                <select formControlName = "poCurrency" class="form-control" id="poCurrency">
                    <option *ngFor="let curr of currList" [value]="curr.currId">{{curr.currName}}</option>
                  </select>
                  <small *ngIf="(!poCurrency.valid && poCurrency.touched) || (poCurrency.untouched && formDir.submitted)" class="text-danger">
                      Order Currency is required
                  </small>
              </div>

              <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!exchangeRate.valid && exchangeRate.touched) || (exchangeRate.untouched && formDir.submitted)), 'has-success': (poCurrency.valid && poCurrency.touched)}">
                <label for= "baseExchangeRate">PO To Base Exch Rate ({{poCurrName}} -> {{baseCurrName}})</label>
                <input formControlName = "baseExchangeRate" class="form-control" id="baseExchangeRate">
                  <small *ngIf="(!baseExchangeRate.valid && baseExchangeRate.touched) || (baseExchangeRate.untouched && formDir.submitted)" class="text-danger">
                      Provide Exchange Rate 
                  </small>
              </div>

              <div class="form-group col-sm-3">
                <label for= "baseCurr">Base Currency</label>
                <input [value]="baseCurrName" class="form-control" id="baseCurr" readonly>
                <input type="text" [formControl]="baseCurr" class="form-control" id="baseCurr" hidden>
              </div>

              

               <div class="col-md-12">
                  <!-- <form [formGroup]="supDetailsForm"> -->
                    <div class="row">

                      <!-- <div class="form-group col-sm-12">
                        <label for="supplierNote">Supplier Note</label>
                        <input type="text" class="form-control" id="supplierNote" [formControl]="supplierNote">
                      </div> -->

                      <!-- <div class="form-group col-sm-4" [ngClass]="{'has-error': ((!supBankName.valid && supBankName.touched)), 'has-success': (supBankName.valid && supBankName.touched)}">
                        <label for="supBankName">Select Supplier's Bank</label>
                        <select class="form-control" id="supBankName" [formControl]="supBankName">
                          <option *ngFor="let bank of bankNameList" [value]="bank.value">{{bank.title}}</option>
                        </select>
                        <small *ngIf="(!supBankName.valid && supBankName.touched)" class="text-danger">
                        Supplier's Bank is required
                        </small>
                      </div> -->

                      <!-- <div class="form-group col-sm-8">
                        <label for="supBankNote">Supplier's Banker Note</label>
                        <input type="text" class="form-control" id="supBankNote" [formControl]="supBankNote">
                      </div> -->

                      <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!notifier.valid && notifier.touched)), 'has-success': (notifier.valid && notifier.touched)}">
                        <label for="notifier">Select Notifier</label>
                        <select class="form-control" id="notifier" [formControl]="notifier">
                          <option *ngFor="let party of notifierList" [value]="party.partyId">{{party.partyName}}</option>
                        </select>
                        <small *ngIf="(!notifier.valid && notifier.touched)" class="text-danger">
                            Notifier is required
                        </small>
                      </div>

                      <div class="form-group col-sm-3">
                        <label for="notifierNote">Notifier Note</label>
                        <input type="text" class="form-control" id="notifierNote" [formControl]="notifierNote">
                      </div>

                      <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!corresBank.valid && corresBank.touched)), 'has-success': (corresBank.valid && corresBank.touched)}">
                        <label for="corresBank">Select Corresponding Bank</label>
                        <select class="form-control" id="corresBank" [formControl]="corresBank">
                          <option *ngFor="let bank of bnkList" [value]="bank.id">{{bank.name}}</option>
                        </select>
                        <small *ngIf="(!corresBank.valid && corresBank.touched)" class="text-danger">
                          Corresponding Bank is required
                        </small>
                      </div>

                      <!-- <div class="form-group col-sm-4" [ngClass]="{'has-error': ((!bank.valid && bank.touched)), 'has-success': (bank.valid && bank.touched)}">
                        <label for="bank">Select Our Bank</label>
                        <select class="form-control" id="bank" [formControl]="bank">
                          <option *ngFor="let bank of bnkList" [value]="bank.id">{{bank.name}}</option>
                        </select>
                        <small *ngIf="(!bank.valid && bank.touched)" class="text-danger">
                          Bank is required
                        </small>
                      </div> -->

                      <!-- <div class="form-group col-sm-4" [ngClass]="{'has-error': ((!bankTnC.valid && bankTnC.touched)), 'has-success': (bankTnC.valid && bankTnC.touched)}">
                        <label for="bankTnC">Bank Terms Description</label>
                        <select class="form-control" id="bankTnC" [formControl]="bankTnC">
                          <option *ngFor="let bankTnC of termsList" [value]="bankTnC.id">{{bankTnC.name}}</option>
                        </select>
                        <small *ngIf="(!bankTnC.valid && bankTnC.touched)" class="text-danger">
                          Bank Terms Description is required
                        </small>
                      </div> -->

                      <!-- <div class="form-group col-sm-4" [ngClass]="{'has-error': ((!currency.valid && currency.touched)), 'has-success': (currency.valid && currency.touched)}">
                        <label for="currency">Select Currency</label>
                        <select class="form-control" id="currency" [formControl]="currency">
                          <option *ngFor="let curr of correncyMasterList" [value]="curr.currId">{{curr.currName}}</option>
                        </select>
                        <small *ngIf="(!currency.valid && currency.touched)" class="text-danger">
                          Currency is required
                        </small>
                      </div> -->
<!--                       
                      <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!bankDays.valid && bankDays.touched)), 'has-success': (bankDays.valid && bankDays.touched)}">
                        <label for="bankDays">Bank Days</label>
                        <input type="number" class="form-control" id="bankDays" [formControl]="bankDays">
                        <small *ngIf="(!bankDays.valid && bankDays.touched)" class="text-danger">
                          Bank Days is required
                        </small>
                      </div> -->

                      <!-- <div class="form-group col-sm-3">
                        <label for="bDueDate">Bank Due Date</label>
                        <input type="text" class="form-control" id="bDueDate" [formControl]="bDueDate" readonly>
                      </div> -->

                      <div class="form-group col-sm-3" [ngClass]="{'has-error': ((!suppDays.valid && suppDays.touched)), 'has-success': (suppDays.valid && suppDays.touched)}">
                        <label for="suppDays">Supplier Days</label>
                        <input type="number" class="form-control" id="suppDays" [formControl]="suppDays">
                        <small *ngIf="(!suppDays.valid && suppDays.touched)" class="text-danger">
                          Supplier Days is required
                        </small>
                      </div>

                      <div class="form-group col-md-3" [ngClass]="{'has-error': ((!orgCountry.valid && orgCountry.touched)), 'has-success': (orgCountry.valid && orgCountry.touched)}">
                        <label for="orgCountry">Origin Country</label>
                        <select [formControl]="orgCountry" class="form-control" id="orgCountry">
                          <option *ngFor="let country of countryList" [value]="country.geoId">{{country.name}}</option>
                        </select>
                        <small *ngIf="(!orgCountry.valid && orgCountry.touched)" class="text-danger">
                          Origin Country is required
                        </small>
                      </div>
                      
                      <div class="form-group col-md-3">
                        <label for="portDisChrg">Port Of Discharge</label>
                        <select [formControl]="portDisChrg" class="form-control" id="portDisChrg">
                          <option *ngFor="let port of cityList" [value]="port.geoId">{{port.name}}</option>
                        </select>
                      </div>

                      <div class="form-group col-sm-3">
                        <label for="sDueDate">Supplier Due Date</label>
                        <input type="text" class="form-control" id="sDueDate" [formControl]="sDueDate" readonly>
                      </div>

                      <div class="form-inline col-sm-3">
                        <div class="row">
                          <div class="form-inline col-md-6">
                            <label class="checkbox-inline" for="draftStatus">
                              <input type="checkbox" [formControl]="draftStatus" id="draftStatus">Draft
                            </label>
                          </div>
        
                          <div class="form-inline col-md-6">
                            <label class="checkbox-inline" for="advRemitt">
                              <input type="checkbox" [formControl]="advRemitt" id="advRemitt">Adv. Remittance
                            </label>              
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </form> -->
                </div>
          </div>
      </ba-card>
    </div>
  </div>

  <div *ngIf="errorMessage">
    <div class="form-group alert alert-danger alert-dismissable col-md-12">
      <a class="close" aria-label="close" (click)="errorMessage = null">&times;</a>
      <strong></strong> {{ errorMessage }}
    </div>
  </div>

  <div class="row" *ngIf="partyStatus">
    <div class="col-md-12">
      <ngb-tabset>
        <ngb-tab id="order" title="Purchase Order Item List">
          <ng-template ngbTabContent>
            <import-order-item-list [parentForm]="importOrderForm" [stockCurrencyCode]="stockCurrencyCode" [baseCurrencyCode]="baseCurrencyCode" [poCurrencyCode]="poCurrencyCode" [isViewMode]="isViewMode" [data]="purchOrderData.purchaseOrderItems"></import-order-item-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="stock" title="Stock Effects">
          <ng-template ngbTabContent>
            <import-stock-effect [parentForm]="importOrderForm" [stockCurrencyCode]="stockCurrencyCode" [baseCurrencyCode]="baseCurrencyCode" [poCurrencyCode]="poCurrencyCode" [isViewMode]="isViewMode" [lotMasterList]="lotMasterList" [categoryId]="categoryMaster.value" [data]="purchOrderData.stockEffectsItems"></import-stock-effect>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="general" title="General Details">
          <ng-template ngbTabContent>
            <import-order-general-details [parentForm]="importOrderForm" [isViewMode]="isViewMode" [termsList]="termsList" [bankBranches]="partyBankBranches" [bankNameList]="bankNameList" [data]="purchOrderData.generalDetails"></import-order-general-details>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btn-raised" *ngIf="showSbmtBtn" (click)="submit()">Submit</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="handleBack(true)">Cancel</button>
    </div>
  </div>
</form>
</div>