@import "../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
  float: right!important;
}
//Add a comment to this line

// .modal-content {
//   color: black;
//   background-color: rgb(255, 255, 255);
//   text-align: center;
// }
label{
  text-align: center;
  color: rgba(0, 0, 0, 0.726);
  font-size: 14px;
  // font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.modal-header{
  text-align: center;
  padding: 1em;
  border-bottom: 1px dotted rgb(14, 69, 114);
  background-color: rgb(14, 69, 114);
}
.modal-body{
  padding-top: 1em;
  border-bottom: 1px dotted #ccc;
}
.form-control{
  border: 2px solid #ccc;
  margin-right: 10%;
  color: black;
}
h4{
  font-size: 30px;
  color: azure;
}
.modal-content{
  width: 500px;
  align-self: center;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 5%;
}
.btn{
  border-radius: 0;
  // background-color: rgb(238, 86, 86);
}
button.btn.btn-primary{
  background-color: rgb(14, 69, 114);
  border-color: rgb(14, 69, 114);
}
input[type=text] {
  border-right: 4px solid rgb(14, 69, 114);
  border-left: 4px solid rgb(14, 69, 114);
}
button.close{
  color: bisque;
}
.close:hover{
  color: white;
}