@import '../../../../theme/sass/smartTables';

[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-inline {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

#abc {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}