<div class="widgets">
    <button type="button" class="btn btn-default mb-2" (click)="handleBack(true)"><i class="ion-chevron-left"></i>&nbsp;&nbsp;Back</button>
    <form [formGroup]="createItemAverageRateAnalyzerForm" (ngSubmit)="submit()">
      

      <div class="row">
        <div class="col-md-12">
          <ba-card [cardTitle]="pageTitle" baCardClass="with-scroll">
  
            <div class="row row">
              <div class="form-group col-sm-3">
                <label for="company">Company</label>
                <select class="form-control" id="company">
                      <option value="company 1">Company 1</option>
                      <option value="company 2">Company 2</option>
                      <option value="company 3">Company 3</option>
                </select>
              </div>
             
              <div class="form-group col-sm-3">
                <label for="category">Category</label>
                <select class="form-control" id="category">
                      <option value="Category 1">Category 1</option>
                      <option value="Category 2">Category 2</option>
                      <option value="Category 3">Category 3</option>
                </select>
              </div>
  
              <div class="form-group col-sm-2">
                <label for="lot">Lot</label>
                <select class="form-control" id="lot">
                    <option value="Lot 1">Lot 1</option>
                    <option value="Lot 2">Lot 2</option>
                    <option value="Lot 3">Lot 3</option>
                </select>
              </div>
  
              <div class="form-group col-sm-2">
                  <label for="columnParameter">Column Parameter</label>
                  <select class="form-control" id="columnParameter">
                      <option value="col para 1">col para 1</option>
                      <option value="col para 2">col para 2</option>
                      <option value="col para 3">col para 3</option>
                  </select>
                </div>
  
                <div class="form-group col-sm-2">
                    <label for="rowParameter">Row Parameter</label>
                    <select class="form-control" id="rowParameter">
                        <option value="row para 1">row para 1</option>
                        <option value="row para 2">row para 2</option>
                        <option value="row para 3">row para 3</option>
                    </select>
                  </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <ba-card formArrayName="parameters" baCardClass="with-scroll">

                  <item-parameter [itemParameter]="itemParameters['controls'][i]" [odd]="odd" (remove)="removeParameter(i)" *ngFor="let param of itemParameters['controls']; let i=index; let odd=odd;"></item-parameter>
                  <div class="mt-2">
                    <button (click)="addParameter()" class="btn btn-success btn-icon" type="button"><i class="fa fa-plus-circle"></i> Add Parameter</button>
                  </div>
                  
                </ba-card>
              </div>
            </div>
  

        <div class="form-group">
            <button type="submit" class="btn btn-default">Export to Excel</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-default">Save</button>
            <button type="button" class="btn btn-default">Clear</button>
            <button type="button" class="btn btn-default">Preview</button>
            <button type="button" class="btn btn-default">Close</button>
        </div>

  
        <div class="form-group">
          <label for="type"> Details:</label>
           <textarea rows="10" cols="10" class="form-control" id="AvalItem"></textarea>
        </div>

      </ba-card>
          </div>

        <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary btn-raised">Submit</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-default" (click)="handleBack(true)">Cancel</button>
            </div>
      </div> 


      </div>
    </form>
  </div>
  