@import "../../theme/sass/conf/conf";
.modal-buttons .btn {
  margin-right: 20px;
  float: right!important;
}
.card{
      margin-top: 8em;
      background-color: rgba(147, 140, 155, 0.082);
      color: white;
      border: none;
      box-shadow: 5px 10px 8px rgba(75, 68, 68, 0.575);
  }
  .card-header{
      height: 70px;
      text-align: center;
    padding: 1em;
    border-bottom: 1px dotted #0e4572;
    background-color: rgba(165, 103, 223, 0.219);
    }
//Add a comment to this line

// .modal-content {
//   color: black;
//   background-color: rgb(255, 255, 255);
//   text-align: center;
// }
label{
  margin-left: 33%;
  // text-align: center;
  color: rgba(0, 0, 0, 0.726);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.modal-header{
  text-align: center;
  padding: 1em;
  border-bottom: 1px dotted rgb(14, 69, 114);
  background-color: rgb(133, 157, 177);
}
.modal-body{
  padding-top: 1em;
  border-bottom: 1px dotted #ccc;
  // text-align: center;
    padding: 1em;
    border-bottom: 1px dotted white;
    background-color: white;
}

.form-control{
  border: 2px solid #ccc;
  // margin-right: 10%;
  color: black;
}
h4{
  font-size: 30px;
  color: azure;
}
.modal-content{
  width: 500px;
  align-self: center;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 5%;
}
.btn{
  margin-top: 5%;
  border-radius: 5px;
  width: 9em;
  height: 3em;
  box-shadow: 5px 10px 8px rgba(75, 68, 68, 0.575);
  // background-color: rgb(238, 86, 86);
}
button.btn.btn-primary{
  background-color: rgb(14, 69, 114);
  border-color: rgb(14, 69, 114);
}
input[type=text] {
  height: 3em;
  border-right: 4px solid rgb(14, 69, 114);
  border-left: 4px solid rgb(14, 69, 114);
}
button.close{
  color: bisque;
}
.close:hover{
  color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(170, 152, 152, 0.541);
    opacity: 1; /* Firefox */
  }
  .modal-footer{
    height: 20px;
    margin-bottom: 4%;
  }
  .al-copy{
      text-align: center;
      color: indigo;
      margin-top: 8%;
      // margin-bottom: 0.5%;
    }
small{
  color: white;
  background-color: rgb(216, 112, 106);
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}
.error{
  background-color: rgb(214, 81, 72);
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
} 