<div class="container-fluid">
  <!-- <div class="col-md-12 error" *ngIf="error">
    {{error}}
  </div> -->
  <div class="offset-md-3 col-md-6">
    <div class="card card-body">
      <div class="card-header">
        <h1 style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{modalHeader}}&nbsp;&nbsp;
            <img src="../../../assets/img/forget-pwd.png" style="width: 60px; height: 50px;"><br><br></h1>
        <button class="close" aria-label="Close" (click)="cancelModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br><br>
        <p style="color: black; text-align: center"><b style="font-size: 20px; color: red">Don't worry! :)</b><br><br> Just fill in your details and we'll help you reset your password.</p>
        <br><br>
        <label for="email" class="col-sm-4 control-label" style="text-align: center" translate>EMAIL ADDRESS<br>
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        </label><br>
        <div class="col-md-8 offset-md-2">
          <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter registered Email Address">
        </div><br><br>
        <small *ngIf="success" style="margin-left: 4%">
          {{successMsg}}
        </small>
        <small *ngIf="fail" style="margin-left: 21%;">
          {{failMsg}}
        </small>
      </div>
      <br>
      <br><div class="modal-footer">
        <div>
          <button class="btn btn-primary confirm-btn" (click)="okModal()">{{oKMessage}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- TODO: Need to handle two button -->
          <button class="btn btn-primary confirm-btn" *ngIf="showHide" (click)="cancelModal()">{{cancelMessage}}</button><br>
          <div class="al-copy">©
            <a href="/">Diamond Admin</a> 2017
        </div>
        </div>
      </div>
      
      </div></div>
    </div>